@import url('http://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto';
    background: linear-gradient(90deg, rgb(123, 0, 255) 0%, rgb(13, 0, 255) 150%)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    font-size: 32px;
    text-shadow: -1px 0px 15px black;
    color: lightgray;
}

.number {
    display: inline-block;
    width: 140px;
    font-size: 128px;
    font-family: 'Roboto';
    text-align: center;
    text-shadow: -1px 0px 15px black;
    border: none;
    color: lightgray;
    background-color: transparent;
}

.buttons button {
    margin: 0px 7px;
    padding: 20px;
    border: none;
    border-radius: 50%;
}

/* CSS */
.buttons button {
    margin: 0px 7px;
    padding: 23px;
    border: none;
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttons button:hover {
    box-shadow: #ffffffa3 0 0 0 3px, transparent 0 0 0 0;
}

#play {
    background-image: url(/css/img/play_circle_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#stop {
    background-image: url(/css/img/stop_circle_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: center;
    background-repeat: no-repeat;
}