@import url('http://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto';
    background: linear-gradient(90deg, rgba(123, 0, 255, 0.362) 0%, rgba(13, 0, 255, 0.811) 150%)
}

/* CSS */
.container {
    border: 1px rgba(146, 160, 251, 0.337) solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(146, 160, 251, 0.337);
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0, #000 4px 4px 0 1px;
}

.clock {
    font-size: 32px;
    font-family: 'Roboto';
}

.number {
    display: inline-block;
    width: 140px;
    font-size: 128px;
    font-family: 'Roboto';
    text-align: center;
    border: none;
    background-color: transparent;
}

.buttons button {
    margin: 0px 7px;
    padding: 20px;
    border: none;
    border-radius: 50%;
}

/* CSS */
.buttons button {
    margin: 0px 7px;
    padding: 23px;
    border: none;
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttons button:hover {
    box-shadow: #ffffffa3 0 0 0 3px, transparent 0 0 0 0;
}

#play {
    background-image: url(/css/img/play_circle_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#stop {
    background-image: url(/css/img/stop_circle_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-height: 1000px) {
    .container {
        padding: 12px 20px;
    }

    .clock {
        font-size: 22px;
        font-family: 'Roboto';
    }

    .number {
        width: 50px;
        font-size: 38px;
    }
}

@media (max-height: 700px) {
    .container {
        padding: 12px 8px;
    }

    .clock {
        font-size: 20px;
        font-family: 'Roboto';
    }

    .number {
        width: 50px;
        font-size: 34px;
    }
}